* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #FFF8F5;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#root {
  height: 100%;
  background-color: #FFF8F5;
}
